body {
    background-color: #1B1212;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100dvh;
    
}
html , body{
    overflow: hidden;
}
.black-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 6;
    transition: 5s;
}
.intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.295);
    backdrop-filter: blur(100px);
    z-index: 5;
}
.intro h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 60px;
    font-family: "Caveat", cursive;
    color: #ffffff;
}
.cake {
    display: block;
    justify-content: center;
    position: absolute;
    top: 370px;
    left: 50%;
    transform: translateX(-50%);
}

.plate {
    width: 260px;
    height: 90px;
    background: linear-gradient(180deg, aliceblue, #d0d5da);
    border-radius: 50%;
    box-shadow: 0px 6px 0px 0px #a8aeb4;
}

.cake-layers {
    overflow-x: hidden;

}

.layer1 {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
    height: 80px;
    background-color: #7B3F00;
    border-radius: 50%;
    box-shadow: 0px 2px 0px 0px #6b3801, 0px 4px 0px 0px #693701, 0px 6px 0px 0px #663501, 0px 8px 0px 0px #633301, 0px 10px 0px 0px #613201, 0px 10px 0px 0px #5E3301, 0px 12px 0px 0px #5C3201, 0px 14px 0px 0px #593101, 0px 16px 0px 0px #573001, 0px 18px 0px 0px #542E01, 0px 20px 0px 0px #522D01, 0px 22px 0px 0px #4F2B01, 0px 24px 0px 0px #4D2A01, 0px 26px 0px 0px #4A2801, 0px 28px 0px 0px #472701, 0px 30px 0px 0px #452601;
}

.layer2 {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 210px;
    height: 80px;
    background-color: #F3E5AB;
    border-radius: 50%;
    box-shadow: 0px 2px 0px 0px #DED19B, 0px 4px 0px 0px #D9CC97, 0px 6px 0px 0px #D4C793, 0px 8px 0px 0px #CFC28F;
}

.layer3 {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    width: 210px;
    height: 80px;
    background-color: #7B3F00;
    border-radius: 50%;
    box-shadow: 0px 2px 0px 0px #6b3801, 0px 4px 0px 0px #693701, 0px 6px 0px 0px #663501, 0px 8px 0px 0px #633301, 0px 10px 0px 0px #613201, 0px 10px 0px 0px #5E3301, 0px 12px 0px 0px #5C3201, 0px 14px 0px 0px #593101, 0px 16px 0px 0px #573001, 0px 18px 0px 0px #542E01, 0px 20px 0px 0px #522D01, 0px 22px 0px 0px #4F2B01, 0px 24px 0px 0px #4D2A01, 0px 26px 0px 0px #4A2801, 0px 28px 0px 0px #472701, 0px 30px 0px 0px #452601;
}

.layer4 {
    position: absolute;
    bottom: 105px;
    left: 50%;
    transform: translateX(-50%);
    width: 190px;
    height: 80px;
    background-color: #F3E5AB;
    border-radius: 50%;
    box-shadow: 0px 2px 0px 0px #DED19B, 0px 4px 0px 0px #D9CC97, 0px 6px 0px 0px #D4C793, 0px 8px 0px 0px #CFC28F;
}

.layer5 {
    position: absolute;
    bottom: 135px;
    left: 50%;
    transform: translateX(-50%);
    width: 190px;
    height: 80px;
    background-color: #7B3F00;
    border-radius: 50%;
    box-shadow: 0px 2px 0px 0px #6b3801, 0px 4px 0px 0px #693701, 0px 6px 0px 0px #663501, 0px 8px 0px 0px #633301, 0px 10px 0px 0px #613201, 0px 10px 0px 0px #5E3301, 0px 12px 0px 0px #5C3201, 0px 14px 0px 0px #593101, 0px 16px 0px 0px #573001, 0px 18px 0px 0px #542E01, 0px 20px 0px 0px #522D01, 0px 22px 0px 0px #4F2B01, 0px 24px 0px 0px #4D2A01, 0px 26px 0px 0px #4A2801, 0px 28px 0px 0px #472701, 0px 30px 0px 0px #452601;
}

.cream {
    position: absolute;
    bottom: 135px;
    left: 50%;
    transform: translateX(-50%);
    width: 190px;
    height: 80px;
    background-color: #F3E5AB;
    border-radius: 50%;
    z-index: 2;
}

.cream1 {
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    bottom: 105px;
    width: 40px;
    height: 50px;
    background-color: #eee2b1;
    z-index: 1;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 30px;
}

.cream2 {
    position: absolute;
    left: 70%;
    transform: translateX(-50%);
    bottom: 125px;
    width: 35px;
    height: 55px;
    background-color: #eee2b1;
    z-index: 1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 50px;
}

.cream3 {
    position: absolute;
    left: 81.6%;
    transform: translateX(-50%);
    bottom: 130px;
    width: 20px;
    height: 55px;
    background-color: #eee2b1;
    z-index: 1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 55px;
}

.cream4 {
    position: absolute;
    left: 21%;
    transform: translateX(-50%);
    bottom: 125px;
    width: 30px;
    height: 60px;
    background-color: #eee2b1;
    z-index: 1;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 25px;
}

.cream5 {
    position: absolute;
    left: 57%;
    transform: translateX(-50%);
    bottom: 120px;
    width: 10px;
    height: 60px;
    background-color: #eee2b1;
    z-index: 1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.candle {
    position: absolute;
    left: 50%;
    bottom: 230px;
    transform: translateX(-50%);
    width: 15px;
    height: 10px;
    background-color: #e90000;
    z-index: 3;
    border-radius: 50%;
    box-shadow: 0px 2px 0px 0px #dd0000, 0px 4px 0px 0px #d60000, 0px 6px 0px 0px #d10000, 0px 8px 0px 0px #c90000, 0px 10px 0px 0px #be0000, 0px 12px 0px 0px #b60000, 0px 14px 0px 0px #ad0000, 0px 16px 0px 0px #a70000, 0px 18px 0px 0px #9b0000, 0px 20px 0px 0px #960000, 0px 22px 0px 0px #8d0000, 0px 24px 0px 0px #8d0000, 0px 26px 0px 0px #8d0000, 0px 28px 0px 0px #8d0000, 0px 30px 0px 0px #8d0000, 0px 32px 0px 0px #8d0000, 0px 34px 0px 0px #8d0000, 0px 36px 0px 0px #8d0000, 0px 38px 0px 0px #8d0000, 0px 40px 0px 0px #8d0000;
}

.container {
    margin: 80px auto;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -295px;
    left: 118px;
    transform-origin: center bottom;
    animation-name: flicker;
    animation-duration: 3ms;
    animation-delay: 200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 4;
}

.flame {
    bottom: 0;
    position: absolute;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    transform: rotate(-45deg) scale(1.5, 1.5);
}

.yellow {
    left: 10.5px;
    bottom: -2px;
    width: 2.5px;
    height: 2.5px;
    background: gold;
    box-shadow: 0px 0px 9px 4px gold;
}

.orange {
    left: 9.5px;
    bottom: -4px;
    width: 5px;
    height: 5px;
    background: orange;
    box-shadow: 0px 0px 9px 4px orange;
}

.red {
    left: 8px;
    bottom: -3px;
    width: 7.5px;
    height: 7.5px;
    background: OrangeRed;
    box-shadow: 0px 0px 5px 4px OrangeRed;
    
}

.white {
    left: 10.7px;
    bottom: -4px;
    width: 2.5px;
    height: 2.5px;
    background: white;
    box-shadow: 0px 0px 9px 4px white;
}

.circle {
    border-radius: 50%;
    position: absolute;
}

@keyframes slow-rotate {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }
    25% {
        transform: translateX(-50%) rotate(2deg);
    }
    50% {
        transform: translateX(-50%) rotate(0deg);
    }
    75% {
        transform: translateX(-50%) rotate(-2deg);
    }
    100% {
        transform: translateX(-50%) rotate(0deg);
    }
}

@keyframes flicker {
    0% {
        transform: rotate(-1deg);
    }

    20% {
        transform: rotate(1deg);
    }

    40% {
        transform: rotate(-1deg);
    }

    60% {
        transform: rotate(1deg) scaleY(1.04);
    }

    80% {
        transform: rotate(-2deg) scaleY(0.92);
    }

    100% {
        transform: rotate(1deg);
    }
}

@media screen and (max-width: 768px) {
    .plate {
        top: 60dvh;
    }
}
.text{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 60px;
    color: #ffffff9a;
    opacity: 0;
    transition: opacity 1s ease, top 1s ease;
    white-space: nowrap;
    font-weight: 800;
    text-align: center;
}
.yes-button{
    position: absolute;
    top:80%;
    left: 70%;
    transform: translateX(-50%);
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 60px;
    color: #ffffffb0;
    opacity: 0;
    transition: opacity 1s ease;
    background-color: transparent;
    border: none;
    display: none;
    
    
}
.no-button{
    position: absolute;
    top:80%;
    left: 30%;
    transform: translateX(-50%);
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 60px;
    color: #ffffffb0;
    opacity: 0;
    transition: opacity 1s ease;
    background-color: transparent;
    border: none;
    display: none;
    
}
@media screen and (max-width: 768px) {
    .text {
        font-size: 30px;
    }
    .yes-button {
        font-size: 51px;
    }
    .no-button {
        font-size: 51px;
    }
}
.End-Text{
    position: fixed; 
    top: 10%;
    left: 50%; 
    transform: translateX(-50%);
    z-index: 10;
    color: palevioletred;
    white-space: nowrap;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;

}
.Cute-Error {
    display: block;
    position: fixed;
    top: 60.1dvh;
    left: 30vw;
    transform: translateX(-50%);
    z-index: 10;
    width: 130px;
    height: 70px;
}
.Cute-Error-Text{
    color: palevioletred;
    position: fixed;
    top: 57dvh;
    left: 68vw;
    transform: translateX(-50%);
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    z-index: 10;
    white-space: nowrap;

}
.ketsu-container{
    position: fixed;
    z-index: 10;
    top: 90%;
    left: 5%;
    
}
.ketsu{
    position: absolute;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    color: #000000;
    font-size: 20px;
    white-space: nowrap;
}
.joke{
    position: absolute;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    color: #000000;
    font-size: 20px;
    top: 25px;
    white-space: nowrap;
}
.more{
    position: absolute;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    color: #000000;
    font-size: 20px;
    top: 50px;
    white-space: nowrap;
}
.EndName{
    position: relative;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    color: #000000;
    font-size: 20px;
    
}
